* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-soft: hsl(231, 69%, 60%);
  --red-soft: hsl(0, 94%, 66%);
  --grey-soft: hsl(0, 0%, 97%);
  --grey-darker: hsl(0, 0%, 53%);
  --blue-dark: hsl(229, 31%, 21%);
  --rubik: "Rubik", sans-serif;
}

.container {
  width: 90%;
  padding: 2.5rem 1rem;
  margin: 0 auto;
}

body {
  font-family: var(--rubik);
  color: var(--blue-dark);
}

.hero__nav {
  display: flex;
  justify-content: space-between;
}

.hero {
  overflow: hidden;
}

.figure {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
}
.figure .figure__img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.figure__shadow::after {
  content: "";
  background-color: var(--blue-soft);
  display: block;
  position: absolute;
  width: 70vw;
  top: 30%;
  left: 30%;
  bottom: -10px;
  border-bottom-left-radius: 80px;
  z-index: -1;
}
.figure__shadow--left {
  margin: 2rem 0 4rem;
}
.figure__shadow--left::after {
  width: 80vw;
  top: 20%;
  right: 20%;
  left: unset;
  bottom: -40px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: 140px;
  border-top-right-radius: 200px;
}

.texts {
  text-align: center;
  display: grid;
  gap: 1rem;
}
.texts .texts__title {
  margin: 0 auto;
  max-width: 350px;
  font-weight: 600;
}
.texts .texts__paragraph {
  margin: 0 auto;
  max-width: 550px;
  color: var(--grey-darker);
  line-height: 1.7rem;
}
.texts--topic {
  padding: unset;
}
.texts--topic .texts__title {
  font-size: 1.5rem;
}
.texts--topic .texts__title--folding {
  margin: 0 auto;
  width: 80%;
}
.texts--extension {
  padding: unset;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
}
.texts--extension .texts__title {
  font-size: 1.3rem;
}
.texts--folding {
  text-align: unset;
  border-bottom: 1px solid hsl(0, 0%, 75%);
}
.texts--folding .texts__title {
  margin-left: unset;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 1.5rem 0;
}
.texts--folding .texts__paragraph {
  width: 100%;
  max-width: unset;
  margin: unset;
  margin-bottom: 2rem;
  line-height: 2rem;
}
.texts--folding:first-child {
  border-top: 1px solid hsl(0, 0%, 75%);
}
.texts--joining {
  padding: 5rem 0 0;
  background-color: var(--blue-soft);
  color: white;
}
.texts--joining .joining__numbers {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 0.8rem;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.cta {
  color: var(--grey-soft);
  background-color: var(--blue-soft);
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 0.9rem 1.3rem;
  border-radius: 5px;
}
.cta--active {
  color: var(--grey-darker);
  background-color: var(--grey-soft);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.15);
}
.cta--extension {
  width: 80%;
}

.topics {
  margin: 3rem auto 0;
  padding: 1px 0 0;
}
.topics .topic__section {
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.topics .topic__section .topic__links {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.topics .topic__section .topic__links .topic__link:hover {
  color: var(--red-soft);
}
.topics .topic__section .topic__links .topic__link {
  display: block;
  position: relative;
  width: 80%;
  padding: 1.3rem 1.3rem;
  color: var(--grey-darker);
  text-decoration: none;
  border-bottom: 1px solid hsl(0, 0%, 75%);
}
.topics .topic__section .topic__links .topic__link.topic__link--active {
  color: var(--blue-dark);
  font-weight: 500;
}
.topics .topic__section .topic__links .topic__link.topic__link--active::after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  border-radius: 3px;
  inset-inline: 25%;
  bottom: 0;
  background-color: var(--red-soft);
}
.topics .topic__section .topic__links :first-child {
  border-top: 1px solid hsl(0, 0%, 75%);
}
.topics .topic__section .topic__sample {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
}
.topics .topic__section .topic__sample--active {
  display: flex;
}
.topics .topic__section .topic__extensions {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.topics .topic__section .topic__extensions .extension {
  padding: 3rem 0 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  box-shadow: 1px 12px 20px 4px rgba(75, 75, 75, 0.15);
}
.topics .topic__section .topic__extensions .extension__icon {
  width: 100px;
}
.topics .topic__section .topic__foldings {
  padding-top: 0;
  padding-bottom: 0;
}
.topics .topic__section .topic__foldings .folding {
  display: block;
  padding-top: unset;
  padding-bottom: unset;
}
.topics .topic__section .topic__foldings .folding summary:hover {
  color: var(--red-soft);
}
.topics .topic__section .topic__foldings .folding summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
}
.topics .topic__section .topic__foldings .folding summary .folding__icon {
  display: inline-block;
  width: 1.2rem;
  aspect-ratio: 18/12;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.topics .topic__section .topic__foldings .folding[open] .folding__icon {
  background-image: url("../images/icon-arrow-red.svg");
}
.topics .topic__section .topic__cta {
  margin: 0 auto;
}
.topics .topic__section .topic__form {
  padding: 1rem 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.topics .topic__section .topic__form .form__input {
  font-family: var(--rubik);
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 16px 0;
  border: none;
  outline: none;
}
.topics .topic__section .topic__form .form__input--email {
  color: var(--blue-dark);
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.topics .topic__section .topic__form .form__input--btn {
  color: white;
  background-color: var(--red-soft);
}
.topics .topic__section .topic__form .input__wrapper {
  position: relative;
}
.topics .topic__section .topic__form .input__wrapper::before {
  content: "";
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 1.5em;
  height: 1.5em;
  background-image: url("../images/icon-error.svg");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
.topics .topic__section .topic__form .input__wrapper::after {
  content: "Whoops, make sure it's an email";
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  position: relative;
  padding: 2px 0 5px 1rem;
  font-size: small;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background-color: var(--red-soft);
}
.topics .topic__section .topic__form .input__wrapper--error {
  background-color: var(--red-soft);
  border-radius: 5px;
}
.topics .topic__section .topic__form .input__wrapper--error .form__input--email {
  border: 3px solid var(--red-soft);
}
.topics .topic__section .topic__form .input__wrapper--error::before, .topics .topic__section .topic__form .input__wrapper--error::after {
  display: block;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 3rem 0;
  color: var(--grey-soft);
  background-color: var(--blue-dark);
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__link {
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}
.footer__social {
  display: flex;
  gap: 2rem;
}
.footer__social .social__link {
  text-decoration: none;
}
.footer__social .social__icon {
  width: 100%;
  display: block;
}

@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .container {
    width: 80%;
  }
  .hero__section {
    width: 80%;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .hero__section .texts {
    margin: 0 0 1rem;
    text-align: left;
    padding: unset;
    width: 400px;
  }
  .hero__section .texts .texts__title {
    font-size: 2.5rem;
    margin: unset;
    max-width: unset;
  }
  .hero__section .texts .texts__paragraph {
    margin: unset;
  }
  .hero__buttons {
    justify-content: start;
  }
  .topics .topic__section .topic__links {
    width: 50%;
    margin: 0 auto;
    flex-direction: row;
    border-bottom: 1px solid hsl(0, 0%, 75%);
  }
  .topics .topic__section .topic__links .topic__link {
    border-bottom: unset;
  }
  .topics .topic__section .topic__links .topic__link.topic__link--active::after {
    left: 0;
    right: 0;
  }
  .topics .topic__section .topic__links :first-child {
    border-top: unset;
  }
  .topics .topic__section .topic__sample {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
  .topics .topic__section .topic__sample .texts {
    margin: unset;
    text-align: left;
    width: 400px;
  }
  .topics .topic__section .topic__sample .texts .texts__title {
    font-size: 1.7rem;
    margin: unset;
  }
  .topics .topic__section .topic__sample .texts .texts__paragraph {
    margin: unset;
  }
  .topics .topic__section .topic__sample .texts .cta {
    width: max-content;
  }
  .topics .topic__section .topic__extensions {
    width: auto;
    margin: 0 auto;
    flex-direction: row;
    height: 450px;
  }
  .topics .topic__section .topic__extensions .extension:nth-child(1) {
    align-self: flex-start;
  }
  .topics .topic__section .topic__extensions .extension:nth-child(2) {
    align-self: center;
  }
  .topics .topic__section .topic__extensions .extension:nth-child(3) {
    align-self: flex-end;
  }
  .topics .topic__section .topic__foldings {
    width: 40%;
  }
  .topics .topic__section .topic__form {
    flex-direction: row;
    align-items: center;
  }
  .topics .topic__section .topic__form .form__input {
    flex-grow: 1;
  }
  .topics .topic__section .topic__form .form__input.form__input--btn {
    padding-left: 10px;
    padding-right: 10px;
  }
  .topics .topic__section .topic__form .input__wrapper {
    flex-grow: 3;
  }
  .topics .topic__section .topic__form .input__wrapper::after {
    position: absolute;
    padding-top: 20px;
    left: -3px;
    right: -3px;
    bottom: -20px;
    z-index: -1;
  }
  .topics .topic__section .topic__form .input__wrapper--error {
    background-color: var(--red-soft);
    border-radius: 5px;
    z-index: 1;
  }
  .topics .topic__section .topic__form .input__wrapper--error .form__input--email {
    border: unset;
    outline: 3px solid var(--red-soft);
  }
}

/*# sourceMappingURL=styles.css.map */
