@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  .container {
    width: 80%;
  }
  .hero__section {
    width: 80%;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .texts {
      margin: 0 0 1rem;
      text-align: left;
      padding: unset;
      width: 400px;
      .texts__title {
        font-size: 2.5rem;
        margin: unset;
        max-width: unset;
      }
      .texts__paragraph {
        margin: unset;
      }
    }
  }

  .hero__buttons {
    justify-content: start;
  }

  .topics {
    .topic__section {
      .topic__links {
        width: 50%;
        margin: 0 auto;
        flex-direction: row;
        border-bottom: 1px solid hsl(0, 0%, 75%);
        .topic__link {
          border-bottom: unset;
          &.topic__link--active {
            &::after {
              left: 0;
              right: 0;
            }
          }
        }
        :first-child {
          border-top: unset;
        }
      }
      .topic__sample {
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        .texts {
          margin: unset;
          text-align: left;
          width: 400px;
          .texts__title {
            font-size: 1.7rem;
            margin: unset;
          }
          .texts__paragraph {
            margin: unset;
          }
          .cta {
            width: max-content;
          }
        }
      }
      .topic__extensions {
        width: auto;
        margin: 0 auto;
        flex-direction: row;
        height: 450px;
        .extension:nth-child(1) {
          align-self: flex-start;
        }
        .extension:nth-child(2) {
          align-self: center;
        }
        .extension:nth-child(3) {
          align-self: flex-end;
        }
      }
      .topic__foldings {
        width: 40%;
      }
      .topic__form {
        flex-direction: row;
        align-items: center;
        .form__input {
          flex-grow: 1;
          &.form__input--btn{
            padding-left: 10px;
            padding-right: 10px;
          }
        }
        .input__wrapper {
          flex-grow: 3;
          &::after {
            position: absolute;
            padding-top: 20px;
            left: -3px;
            right: -3px;
            bottom: -20px;
            z-index: -1;
          }
          &--error {
            background-color: var(--red-soft);
            border-radius: 5px;
            z-index: 1;
            .form__input--email {
              border: unset;
              outline: 3px solid var(--red-soft);
            }
          }
        }
      }
    }
  }
}
