* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-soft: hsl(231, 69%, 60%);
  --red-soft: hsl(0, 94%, 66%);
  --grey-soft: hsl(0, 0%, 97%);
  --grey-darker: hsl(0, 0%, 53%);
  --blue-dark: hsl(229, 31%, 21%);

  --rubik: "Rubik", sans-serif;
}

.container {
  width: 90%;
  padding: 2.5rem 1rem;
  margin: 0 auto;
}

body {
  font-family: var(--rubik);
  color: var(--blue-dark);
}

.hero__nav {
  display: flex;
  justify-content: space-between;
}

.hero {
  overflow: hidden;
}

.figure {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  .figure__img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

.figure__shadow {
  &::after {
    content: "";
    background-color: var(--blue-soft);
    display: block;
    position: absolute;
    width: 70vw;
    top: 30%;
    left: 30%;
    bottom: -10px;
    border: {
      bottom-left-radius: 80px;
    }
    z-index: -1;
  }
  &--left {
    margin: 2rem 0 4rem;
  }
  &--left::after {
    width: 80vw;
    top: 20%;
    right: 20%;
    left: unset;
    bottom: -40px;
    border: {
      bottom-left-radius: unset;
      bottom-right-radius: 140px;
      top-right-radius: 200px;
    }
  }
}

.texts {
  text-align: center;
  display: grid;
  gap: 1rem;
  .texts__title {
    margin: 0 auto;
    max-width: 350px;
    font-weight: 600;
  }
  .texts__paragraph {
    margin: 0 auto;
    max-width: 550px;
    color: var(--grey-darker);
    line-height: 1.7rem;
  }
  &--topic {
    padding: unset;
    .texts__title {
      font-size: 1.5rem;
      &--folding {
        margin: 0 auto;
        width: 80%;
      }
    }
  }
  &--extension {
    padding: unset;
    gap: 0.5rem;
    margin-bottom: 0.7rem;
    .texts__title {
      font-size: 1.3rem;
    }
  }
  &--folding {
    text-align: unset;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    .texts__title {
      margin-left: unset;
      font-size: 0.9rem;
      font-weight: 500;
      padding: 1.5rem 0;
    }
    .texts__paragraph {
      width: 100%;
      max-width: unset;
      margin: unset;
      margin-bottom: 2rem;
      line-height: 2rem;
    }
    &:first-child {
      border-top: 1px solid hsl(0, 0%, 75%);
    }
  }
  &--joining {
    padding: 5rem 0 0;
    background-color: var(--blue-soft);
    color: white;
    .joining__numbers {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 500;
      font-size: 0.8rem;
    }
  }
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.cta {
  color: var(--grey-soft);
  background-color: var(--blue-soft);
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 0.9rem 1.3rem;
  border-radius: 5px;
  &--active {
    color: var(--grey-darker);
    background-color: var(--grey-soft);
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.15);
  }
  &--extension {
    width: 80%;
  }
}

.topics {
  margin: 3rem auto 0;
  padding: 1px 0 0;
  .topic__section {
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .topic__links {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      .topic__link {
        &:hover {
          color: var(--red-soft);
        }
        display: block;
        position: relative;
        width: 80%;
        padding: 1.3rem 1.3rem;
        color: var(--grey-darker);
        text-decoration: none;
        border-bottom: 1px solid hsl(0, 0%, 75%);
        &.topic__link--active {
          color: var(--blue-dark);
          font-weight: 500;
          &::after {
            content: "";
            display: block;
            position: absolute;
            height: 5px;
            border-radius: 3px;
            inset-inline: 25%;
            bottom: 0;
            background-color: var(--red-soft);
          }
        }
      }
      :first-child {
        border-top: 1px solid hsl(0, 0%, 75%);
      }
    }
    .topic__sample {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      overflow: hidden;
      &--active {
        display: flex;
      }
    }
    .topic__extensions {
      width: 300px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .extension {
        padding: 3rem 0 1.5rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        box-shadow: 1px 12px 20px 4px rgba(75, 75, 75, 0.15);
        &__icon {
          width: 100px;
        }
      }
    }
    .topic__foldings {
      padding-top: 0;
      padding-bottom: 0;
      .folding {
        display: block;
        padding: {
          top: unset;
          bottom: unset;
        }
        summary {
          &:hover {
            color: var(--red-soft);
          }
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          list-style: none;
          .folding__icon {
            display: inline-block;
            width: 1.2rem;
            aspect-ratio: 18 / 12; // proporción real del SVG
            background: {
              image: url("../images/icon-arrow.svg");
              repeat: no-repeat;
              position: center;
              size: contain;
            }
          }
        }
        &[open] {
          .folding__icon {
            background: {
              image: url("../images/icon-arrow-red.svg");
            }
          }
        }
      }
    }
    .topic__cta {
      margin: 0 auto;
    }
    .topic__form {
      padding: 1rem 1.5rem 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      .form__input {
        font-family: var(--rubik);
        font-size: 0.9rem;
        font-weight: 500;
        border-radius: 5px;
        padding: 16px 0;
        border: none;
        outline: none;
        &--email {
          color: var(--blue-dark);
          width: 100%;
          padding-left: 1rem;
          padding-right: 1rem;
        }
        &--btn {
          color: white;
          background-color: var(--red-soft);
        }
      }
      .input__wrapper {
        position: relative;
        &::before {
          content: "";
          display: none;
          position: absolute;
          top: 15px;
          right: 15px;
          width: 1.5em;
          height: 1.5em;
          background-image: url("../images/icon-error.svg");
          background-size: contain;
          background-repeat: no-repeat;
          pointer-events: none;
        }
        &::after {
          content: "Whoops, make sure it's an email";
          border: {
            bottom-left-radius: 5px;
            bottom-right-radius: 5px;
          }
          display: none;
          position: relative;
          padding: 2px 0 5px 1rem;
          font-size: small;
          font-style: italic;
          font-weight: 500;
          text-align: left;
          left: 0;
          bottom: 0;
          pointer-events: none;
          background-color: var(--red-soft);
        }
        &--error {
          background-color: var(--red-soft);
          border-radius: 5px;
          .form__input--email {
            border: 3px solid var(--red-soft);
          }
          &::before,
          &::after {
            display: block;
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 3rem 0;
  color: var(--grey-soft);
  background-color: var(--blue-dark);
  &__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__link {
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
  }
  &__social {
    display: flex;
    gap: 2rem;
    .social__link {
      text-decoration: none;
      // width: 20px;
    }

    .social__icon {
      width: 100%;
      display: block;
    }
  }
}

@import "desktop";
