* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-soft: hsl(231, 69%, 60%);
  --red-soft: hsl(0, 94%, 66%);
  --grey-soft: hsl(0, 0%, 97%);
  --grey-darker: hsl(0, 0%, 53%);
  --blue-dark: hsl(229, 31%, 21%);

  --rubik: "Rubik", sans-serif;
}

.container {
  width: 90%;
  padding: 2.5rem 1rem;
  margin: 0 auto;
}

.hero {
  font-family: var(--rubik);
  color: var(--blue-dark);
}

.hero__nav {
  display: flex;
  justify-content: space-between;
}

.hero__figure {
  margin: 2rem 0;
  position: relative;
  max-width: 600px;

  .figure__img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

.figure__shadow {
  &::after {
    content: "";
    background-color: var(--blue-soft);
    display: block;
    position: absolute;
    top: 3.4rem;
    right: 0;
    bottom: 0;
    left: 6rem;
    border: {
      top-left-radius: 80px;
      bottom-left-radius: 80px;
    }
    z-index: -1;
  }
}

.hero__texts {
  text-align: center;
  display: grid;
  gap: 2rem;

  .hero__title {
    font-weight: 500;
  }

  .hero__paragraph {
    color: var(--grey-darker);
    line-height: 1.7rem;
  }
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: .8rem;
  font-size: 0.9rem;
  font-weight: 600;
  .hero__cta {
    color: var(--grey-soft);
    background-color: var(--blue-soft);
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.3rem;
    border-radius: 5px;
    &--active{
      color: var(--grey-darker);
      background-color: var(--grey-soft);
      box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.15);
    }
  }
}
